language: node_js
node_js:
  - "10"
sudo: false
dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
    - ./node_modules

branches:
  only:
    - master

install:
  - yarn

script:
  - yarn test --code-coverage --watch=false --progress=false --browsers=ChromeHeadlessCI
  - yarn build --prod --base-href /anno1404/ --progress=true
  - mkdir ~/.dts
  - yarn dtslint
  - yarn build
  - yarn e2e --protractor-config=./e2e/protractor.conf.js

after_success:
  - cat coverage/s-ng-utils/lcov.info | node_modules/coveralls/bin/coveralls.js

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  local-dir: dist
  on:
    branch: master
